/*input.form-control {*/
    /*margin-bottom: 10px;*/
/*}*/

/*body {*/
    /*padding-top: 60px;*/
    /*padding-bottom: 60px;*/
/*}*/

/*.navbar-default {*/
    /*background-color: #337ab7;*/
    /*border-color: #e7e7e7;*/
/*}*/

/*nav.navbar.navbar-default.navbar-fixed-top {*/

    /*padding-left: 15px;*/
    /*padding-right: 15px;*/
/*}*/
/*nav.navbar.navbar-default.navbar-fixed-bottom{*/
    /*!*background-color: #337ab7;*!*/

    /*padding-left: 15px;*/
    /*padding-right: 15px;*/
/*}*/

/*.navbar-default .navbar-brand {*/
    /*color: white;*/
/*}*/

/*.navbar-header{*/
    /*width: 100%;*/
/*}*/

/*.navbar-default .navbar-link {*/
    /*color: white;*/
/*}*/

input.form-control,
textarea.form-control,
select.form-control {
    margin-bottom: 5px;
}

nav.navbar.navbar-default.navbar-fixed-top .ng-scope{
    padding-left: 15px;
}

nav.navbar.navbar-default.navbar-fixed-bottom.ng-scope{
    background-color: #337ab7;
}

nav.navbar.navbar-default.navbar-fixed-bottom .row-1px{
    margin-top: 19px;
    padding-right: 1px
}

nav.navbar.navbar-default.navbar-fixed-bottom .row-15px{
    margin-top: 19px;
    padding-right: 15px
}

.navbar-text-0px{
    padding-left: 0px;
    margin-top: 15px;
    margin-left: 0px
}


.container-fluid .navbar-header .row {
    background-color: #337ab7;
}

nav.navbar.navbar-default.navbar-fixed-top .container-fluid{
    background-color: #337ab7;
}
@media (min-width: 768px) {
    .padding-15px {
        padding-left: 15px;
        /*margin-top: 15px;*/
        /*margin-left: 10px*!*/
    }

}
@media(max-width: 767px) {
    .navbar.navbar-default.navbar-fixed-top .row .navbar-text  span{
        padding-left: 30px;
    }
}
/*.padding-30px{*/
    /*padding-left: 30px;*/
/*}*/
/*.padding-15px{*/
    /*padding-left: 30px;*/
/*}*/

.col-separator-left{
    border-left: 1px solid silver;
}

.col-separator-right{
    border-right: 1px solid silver;
}

body {
    padding-top: 60px;
    padding-bottom: 60px;
}

.list-group-item {
    border: 0;
}

.navbar-default {
    background-color: #337ab7;
    border-color: #337ab7;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-header {
    background-color: #337ab7;
    width: 100%;
}

.navbar-default .container .row.navbar-text  {
    background-color: #337ab7;
    width: 100%;
}

.navbar-default .navbar-link {
    color: white;
}

.navbar.navbar-default a {
    color: #ffffff;
}

.wd-widget {
    margin-bottom: 10px;
}

.wd-widget > img {
    width: 100%;
}

.wd-widget > .wd-widget-toolbar {
    position: absolute;
    right: 15px;
    background: white;
    opacity: 0.9;
    padding: 5px;
    border-bottom-left-radius: 10px;
}
