<div class="container-fluid">
    <label for="name">Name</label>
    <input type="text"
           ng-model="model.widget.name"
           id="name"
           class="form-control"
           placeholder="Name">

    <label for="text">Text</label>
    <input type="text"
           ng-model="model.widget.text"
           id="text"
           class="form-control"
           placeholder="Facebook">

    <label for="url">URL</label>
    <input type="url"
           ng-model="model.widget.url"
           id="url"
           class="form-control"
           placeholder="URL"
           required>

    <label for="width">Width</label>
    <select ng-model="model.widget.width"
            id="width"
            class="form-control"
            required>
        <option value="25%">25%</option>
        <option value="50%">50%</option>
        <option value="75%">75%</option>
        <option value="100%" selected>100%</option>
    </select>


    <form action="/api/upload"   method="post" enctype="multipart/form-data">
        <input  name="myFile"    type="file" class="form-control"/>
        <input  name="widgetId"  value="123"   style="display: none"/>
        <button type="submit"    class="btn btn-block btn-primary">Upload Image</button>
    </form>
    <a href=""
       class="btn btn-block btn-success">Upload</a>

    <a ng-click="model.deleteWidget(model.widgetId)" class="btn btn-block btn-danger">Delete</a>

</div>

<div ng-include="'views/common/footer.view.client.html'"></div>