<div class="container-fluid">
    <label for="name">Name</label>
    <input type="text"
           ng-model="model.widget.name"
           id="name"
           class="form-control"
           placeholder="Name">

    <label for="text">Text</label>
    <div id = 'text'
         ng-model="model.widget.text"
         text-angular
         text-angular-toolbar="[['h1','h2','h3'],['bold','italics','underline','strikeThrough'],
        ['ul','ol'],['justifyLeft','justifyCenter','justifyRight','justifyFull'],
        ['indent','outdent'],['html']]">
    </div>


    <label for="size">Size</label>
    <input type="number"
           ng-model="model.widget.size"
           id="size"
           class="form-control"
           placeholder="Size"
           min="1" max="6" required>


    <a ng-click="model.deleteWidget(model.widgetId)" class="btn btn-block btn-danger">Delete</a>

</div>

<div ng-include="'views/common/footer.view.client.html'"></div>

