<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid" >
        <div class="navbar-header">
            <!--<div class="row">-->
            <p class="navbar-text-0px pull-left">
                <a class="navbar-header" href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget"><span
                    class="glyphicon glyphicon-chevron-left pull-left"></span></a>
            </p>
            <a class="navbar-brand" href="#">
                <span class="padding-15px">Choose Widget</span>
            </a>
        </div>
    </div>
</nav>

    <div class="list-group">
        <div ng-repeat="widgetType in model.widgetTypeList"
             class="list-group-item">
            <div class="row">
                <div class="col-xs-12">
                    <a href ng-click="model.navigateNewWidget(widgetType)">
                        <h4><strong>{{widgetType}}</strong></h4>
                    </a>
                </div>
            </div>
        </div>
    </div>

<div ng-include="'views/common/footer.view.client.html'"></div>


