

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid" >
        <div class="navbar-header">
            <!--<div class="row">-->
                <p class="navbar-text-0px pull-left">
                    <a href="#!/user/{{model.userId}}" class="navbar-link">
                        <span class="glyphicon glyphicon-chevron-left">
                        </span>
                    </a>
                </p>
                <a class="navbar-brand" href="#">
                    <span class="padding-15px">Websites</span>
                </a>
                <p class="navbar-text pull-right">
                    <a href="#!/user/{{model.userId}}/website/new" class="navbar-link">
                    <span class="glyphicon glyphicon-plus">
                    </span>
                    </a>
                </p>
            <!--</div>-->
        </div>
    </div>
</nav>

<div class="container-fluid">
    <ul class="list-group">
        <li ng-repeat="website in model.websites" class="list-group-item">
            <a href="#!/user/{{model.userId}}/website/{{website._id}}/page">
                {{website.name}}
            </a>
            <a href="#!/user/{{model.userId}}/website/{{website._id}}">
                <span class="glyphicon glyphicon-cog pull-right"></span>
            </a>
        </li>
    </ul>
</div>

<div ng-include="'views/common/footer.view.client.html'"></div>