<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row">
        <div class="col-xs-4 hidden-xs">
            <a class="navbar-brand" href="#!/user/{{pageEditCtrl.userId}}/website/{{pageEditCtrl.websiteId}}/page"><span
                    class="glyphicon glyphicon-chevron-left pull-left"></span></a>
            <span class="navbar-brand">
                <strong>Pages</strong>
            </span>
            <a class="navbar-brand pull-right"
               href="#!/user/{{pageEditCtrl.userId}}/website/{{pageEditCtrl.websiteId}}/page/new"><span
                    class="glyphicon glyphicon-plus"></span></a>


        </div>
        <div class="col-xs-12 col-sm-8">
            <a class="navbar-brand visible-xs"
               href="#!/user/{{pageEditCtrl.userId}}/website/{{pageEditCtrl.websiteId}}/page"><span
                    class="glyphicon glyphicon-chevron-left pull-left"></span></a>
            <span class="navbar-brand">
                <strong>Edit Page</strong>
            </span>
            <button type="submit" class="navbar-brand pull-right shr-button-form" form="form"><span
                    class="glyphicon glyphicon-ok"></span></button>
        </div>
    </div>
</nav>


<div class="container-fluid full-height">
    <div class="row full-height">
        <div class="col-xs-4 hidden-xs right-border full-height">
            <div class="list-group shr-center-container">
                <li ng-repeat="page in model.pages" class="list-group-item shr-list-group-noborder list-group-item-action flex-column align-items-start">>
                    <div class="row">
                        <div class="col-xs-10 shr-no-wrap-text">
                            <span class="shr-white-text">
                                <h4><strong>{{page.name}}</strong></h4>
                            </span>
                        </div>
                        <div class="col-xs-2">
                            <a href ng-if="model.pageId === page._id"
                               class="shr-white-link"><h4><strong><span
                                    class="glyphicon glyphicon-cog pull-right"></span></strong>
                            </h4></a>
                            <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}"
                               ng-if="model.pageId !== page._id" class="shr-white-link"><h4><strong><span
                                    class="glyphicon glyphicon-cog pull-right"></span></strong>
                            </h4></a>
                        </div>
                    </div>
                </li>

             </ul>
            </div>

            <div class="col-xs-12 col-sm-8 ">
                <label for="name">Name</label>
                <input ng-model="model.page.name"
                        class="form-control"
                       placeholder="Page Name"
                       value="Blog Post"
                       id="name"/>

                <label for="title">Title</label>
                <input ng-model="model.page.description"
                        class="form-control"
                       placeholder="Page Title"
                       value="Fragments of Thought"
                       id="title"/>
                <a ng-click="model.deletePage(model.pageId)" class="btn btn-block btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>

<div ng-include="'views/common/footer.view.client.html'"></div>
